
/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in an iPhone application */
body {
	height: auto;
	width: 100%;
	overflow: auto;
}

/*Optional iOS 7 status bar filler*/
#wl_ios7bar{
	background-color: white;
	height: 15pt;
	position: fixed;
	top: 0;
	width:100%;
}
body.wl_ios7{
	padding-top: 15pt;
}
