<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<integer>1</integer>
	<key>2</key>
	<integer>1</integer>
	<key>3</key>
	<integer>0</integer>
	<key>4</key>
	<integer>1</integer>
	<key>5</key>
	<integer>2</integer>
	<key>6</key>
	<integer>2</integer>
	<key>7</key>
	<integer>2</integer>
	<key>8</key>
	<integer>2</integer>
	<key>9</key>
	<integer>1</integer>
	<key>10</key>
	<integer>1</integer>
	<key>11</key>
	<integer>1</integer>
	<key>12</key>
	<integer>1</integer>
	<key>101</key>
	<integer>2</integer>
	<key>102</key>
	<integer>2</integer>
	<key>103</key>
	<integer>2</integer>
	<key>104</key>
	<integer>1</integer>
	<key>105</key>
	<integer>1</integer>
	<key>106</key>
	<integer>3</integer>
	<key>107</key>
	<integer>1</integer>
	<key>108</key>
	<integer>2</integer>
	<key>109</key>
	<integer>2</integer>
	<key>110</key>
	<integer>1</integer>
	<key>112</key>
	<integer>1</integer>
	<key>113</key>
	<integer>2</integer>
	<key>114</key>
	<integer>2</integer>
	<key>115</key>
	<integer>2</integer>
	<key>116</key>
	<integer>2</integer>
	<key>201</key>
	<integer>1</integer>
	<key>202</key>
	<integer>2</integer>
	<key>203</key>
	<integer>1</integer>
	<key>204</key>
	<integer>1</integer>
	<key>205</key>
	<integer>1</integer>
	<key>206</key>
	<integer>1</integer>
	<key>207</key>
	<integer>1</integer>
	<key>208</key>
	<integer>1</integer>
	<key>209</key>
	<integer>1</integer>
	<key>210</key>
	<integer>1</integer>
	<key>211</key>
	<integer>1</integer>
	<key>212</key>
	<integer>1</integer>
	<key>213</key>
	<integer>1</integer>
	<key>214</key>
	<integer>1</integer>
	<key>215</key>
	<integer>1</integer>
	<key>216</key>
	<integer>3</integer>
	<key>217</key>
	<integer>1</integer>
	<key>218</key>
	<integer>1</integer>
	<key>219</key>
	<integer>1</integer>
	<key>220</key>
	<integer>1</integer>
	<key>221</key>
	<integer>1</integer>
	<key>222</key>
	<integer>1</integer>
	<key>223</key>
	<integer>1</integer>
	<key>224</key>
	<integer>1</integer>
	<key>225</key>
	<integer>1</integer>
	<key>226</key>
	<integer>1</integer>
	<key>227</key>
	<integer>1</integer>
	<key>228</key>
	<integer>1</integer>
	<key>229</key>
	<integer>1</integer>
	<key>230</key>
	<integer>1</integer>
	<key>231</key>
	<integer>1</integer>
	<key>232</key>
	<integer>3</integer>
	<key>233</key>
	<integer>3</integer>
	<key>234</key>
	<integer>3</integer>
	<key>235</key>
	<integer>1</integer>
	<key>236</key>
	<integer>1</integer>
	<key>237</key>
	<integer>3</integer>
	<key>238</key>
	<integer>3</integer>
	<key>239</key>
	<integer>3</integer>
	<key>240</key>
	<integer>1</integer>
	<key>241</key>
	<integer>1</integer>
	<key>242</key>
	<integer>1</integer>
	<key>248</key>
	<integer>3</integer>
	<key>249</key>
	<integer>3</integer>
	<key>263</key>
	<integer>1</integer>
	<key>264</key>
	<integer>1</integer>
	<key>265</key>
	<integer>1</integer>
	<key>266</key>
	<integer>1</integer>
	<key>303</key>
	<integer>1</integer>
	<key>401</key>
	<integer>3</integer>
</dict>
</plist>
