<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIWebViewBounce</key>
	<true/>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<false/>
	<key>MediaPlaybackRequiresUserAction</key>
	<false/>
	<key>AllowInlineMediaPlayback</key>
	<false/>
	<key>OpenAllWhitelistURLsInWebView</key>
	<true/>
	<key>ExternalHosts</key>
	<array>
		<string>*</string>
	</array>
	<key>Plugins</key>
	<dict>
		<key>AudioRecord</key>
		<string>AudioRecord</string>
		<key>DeviceAuth</key>
		<string>DeviceAuthPlugin</string>
		<key>WebResourcesDownloader</key>
		<string>WebResourcesDownloader</string>
		<key>WLNotification</key>
		<string>WLNotification</string>
		<key>WLApp</key>
		<string>WLApp</string>
		<key>UIControls</key>
		<string>UIControls</string>
		<key>Push</key>
		<string>Push</string>
		<key>NetworkDetector</key>
		<string>NetworkDetector</string>
		<key>NativePage</key>
		<string>NativePage</string>
		<key>SecurityPlugin</key>
		<string>SecurityPlugin</string>
		<key>Badge</key>
		<string>Badge</string>
		<key>NotificationEx</key>
		<string>NotificationEx</string>
		<key>Compass</key>
		<string>CDVLocation</string>
		<key>Accelerometer</key>
		<string>CDVAccelerometer</string>
		<key>Camera</key>
		<string>CDVCamera</string>
		<key>NetworkStatus</key>
		<string>CDVConnection</string>
		<key>Contacts</key>
		<string>CDVContacts</string>
		<key>Debug Console</key>
		<string>CDVDebugConsole</string>
		<key>File</key>
		<string>CDVFile</string>
		<key>FileTransfer</key>
		<string>CDVFileTransfer</string>
		<key>Geolocation</key>
		<string>CDVLocation</string>
		<key>Notification</key>
		<string>CDVNotification</string>
		<key>Media</key>
		<string>CDVSound</string>
		<key>Capture</key>
		<string>CDVCapture</string>
		<key>SplashScreen</key>
		<string>CDVSplashScreen</string>
		<key>Battery</key>
		<string>CDVBattery</string>
		<key>Device</key>
		<string>CDVDevice</string>
		<key>Echo</key>
		<string>CDVEcho</string>
		<key>Globalization</key>
		<string>CDVGlobalization</string>
	</dict>
	<key>UIControls</key>
	<dict>
		<key>TabBarSettings</key>
		<dict>
			<key>height</key>
			<integer>49</integer>
			<key>position</key>
			<string>bottom</string>
		</dict>
		<key>ToolBarSettings</key>
		<dict>
			<key>style</key>
			<string>Default</string>
		</dict>
	</dict>
	<key>BackupWebStorage</key>
	<string>cloud</string>
	<key>KeyboardDisplayRequiresUserAction</key>
	<true/>
	<key>SuppressesIncrementalRendering</key>
	<false/>
</dict>
</plist>
