<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protocol</key> 
	<string>http</string>
	<key>host</key>
	<string>192.168.43.44</string>
	<key>port</key>
	<string>8080</string>
	<key>wlServerContext</key>
	<string>/</string>
	<key>application id</key>
	<string>ATTWLKitchenSink</string>
	<key>application version</key>
	<string>3.1</string>
	<key>environment</key>
	<string>ipad</string>
	<key>buildtime</key>
	<string></string>
	<key>authenticitySharedData</key>
	<string>${authenticitySharedData}</string>
	<key>testWebResourcesChecksum</key>
	<string>false</string>
	<key>ignoredFileExtensions</key>
	<string></string>
	<key>wlMainFile</key>
	<string>ATTWLKitchenSink.html</string>	
</dict>
</plist>
